    /* Main */
    .all{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    /* Header */
    header{
        flex-basis: 0;
        display: flex;
        background-color: blueviolet;
    }


    .grandpy{
        text-align: middle;
        height: 200px;
    }

    .banner{
        flex-grow: 5000;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: middle;
        vertical-align: top;
    }

    .site-name{
        text-align: middle;
        font-size: 40px;
    }

    .headline{
        text-align: middle;
        font-size: 20px;

    }

    /* Body */
    body{
        flex-basis: auto;
        flex-grow: 5000;
    }
    .main-field{
        display: flex;
        align-content: stretch;
    }
    .answer{
        display: flex;
        align-content: space-between;
    }
    .ans-text{
        overflow-y: scroll;
        border: 1px solid #999;
        height: 200px;
        width: 400px;
        text-align: justify;
        
    }

    .ans-map{
        border: 1px solid #999;
        height: 300px;
        width: 300px;
        text-align: justify;
        
    }
    /* Centrer horizontalement et un peu verticalement la question */



    /* Footer */

    footer{
        flex-basis: 0;
        height: 60px;
        margin: 10px;
        text-align: right;
        /* Aligner en bas à droite de la page. */
    }