.container-fluid{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    
}


/* Header */
.header{
    background-color: blueviolet;
}


.grandpy{
    height: 200px;
}

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: top;
}

.site-name{
    text-align: middle;
    font-size: 40px;
}

.headline{
    text-align: middle;
    font-size: 20px;

}

/* Body */
.body{
    flex-grow: 1000;
    display: flex;
    flex-direction: column;
}
.ans-text{
    overflow-y: scroll;
    border: 1px solid #999;
    height: 200px;
    width: 400px;
    text-align: justify;
    
}

.ans-map{
    border: 1px solid #999;
    height: 300px;
    width: 300px;
    text-align: justify;
    
}
/* Centrer horizontalement et un peu verticalement la question */



/* Footer */

.footer{
    background-color: blueviolet;
    display: flex;
    flex-direction: row-reverse;
    /* Aligner en bas à droite de la page. */
}