<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="/static/css/main.css" rel="stylesheet">
        <script async="true" src="/static/js/main.js"></script>
        <meta charset="UTF-8" />
    </head>
    <header>
            <img class="grandpy" src="/static/grandpere_pipe.jpg">
            <span class="banner">
                <p class="site-name">GrandPy</p>
                <p class="headline">Votre papy de poche!</p>
            </span>
    </header>
    <body>
        <form class="main-field">
                <input class="question" type="text" placeholder="Posez votre question à GrandPy" size=100>
                <input class="button" type="submit" value="Go!">
        </form>
        <span class="answer"></span>
    </body>
    <footer>
        <div class="hyperlinks">
            <label class="name">Georges Morera</label>
            <a href="https://github.com/GMBAMorera/Projet_7"><img id="logo-git" src="/static/logo-github.png"></a>
            <a href="https://www.linkedin.com/in/georges-morera/"><img id="logo-linkedin" src="/static/logo-linkedin.png"></a>
        </div>
    </footer>
</html>